chart/workflows/devilangel-devil.json
{
  "name": "Devil — DA Fault Injector",
  "nodes": [
    {
      "parameters": {
        "content": "## Devil Fault Injector\n\n**Trigger:** webhook `POST /webhook/da-devil`. The Referee posts `{run_id, fault_type, expected_layer, tenant, namespace}` per round; the Devil is a dumb executor and `Which Fault?` routes on `fault_type`.\n\nFour faults, one per resolution lane:\n\n- **crash** (kubelet): POST mini-api `/chaos/crash` — /healthz fails, the liveness probe restarts the pod.\n- **scale-db-zero** (gitops): PATCH mini-db Deployment `replicas=0` — manifest drift Argo reverts.\n- **bad-image** (gitops): PATCH mini-db image to a bogus tag — manifest drift Argo reverts.\n- **db-truncate** (agent): POST mini-api `/chaos/truncate` — green-but-dead; no drift, not restart-healable, needs the Angel's restore.",
        "height": 320,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -160
      ],
      "id": "phase4-note",
      "name": "Phase 4 Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da-devil",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "webhook",
      "name": "Devil Webhook",
      "webhookId": "da-devil-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db-truncate-cond",
                    "leftValue": "={{ $json.body.fault_type }}",
                    "rightValue": "db-truncate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "db-truncate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "scale-db-zero-cond",
                    "leftValue": "={{ $json.body.fault_type }}",
                    "rightValue": "scale-db-zero",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scale-db-zero"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "crash-cond",
                    "leftValue": "={{ $json.body.fault_type }}",
                    "rightValue": "crash",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crash"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bad-image-cond",
                    "leftValue": "={{ $json.body.fault_type }}",
                    "rightValue": "bad-image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bad-image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        240,
        0
      ],
      "id": "fault-switch",
      "name": "Which Fault?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://mini-api.' + $('Devil Webhook').item.json.body.namespace + '.svc.cluster.local/chaos/truncate' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { run_id: $('Devil Webhook').item.json.body.run_id } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -64
      ],
      "id": "inject-truncate",
      "name": "Inject: Truncate DB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "unknown-assign",
              "name": "status",
              "value": "ignored: unknown fault_type",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        208
      ],
      "id": "unknown-fault",
      "name": "Unknown Fault"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kubernetes.default.svc.cluster.local:443/apis/apps/v1/namespaces/' + $('Devil Webhook').item.json.body.namespace + '/deployments/mini-db' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/merge-patch+json",
        "body": "={{ JSON.stringify({ spec: { replicas: 0 } }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        64
      ],
      "id": "450c779c-7811-43a3-9325-0edf8ff00c9f",
      "name": "Inject: Scale DB to 0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_K8S_DEVIL_BEARER",
          "name": "K8s Devil Bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://mini-api.' + $('Devil Webhook').item.json.body.namespace + '.svc.cluster.local/chaos/crash' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { run_id: $('Devil Webhook').item.json.body.run_id } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        192
      ],
      "id": "10c479a2-d12a-4014-8bee-85722433587f",
      "name": "Inject: Crash"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kubernetes.default.svc.cluster.local:443/apis/apps/v1/namespaces/' + $('Devil Webhook').item.json.body.namespace + '/deployments/mini-db' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/strategic-merge-patch+json",
        "body": "={{ JSON.stringify({ spec: { template: { spec: { containers: [ { name: 'postgres', image: 'postgres:does-not-exist-9.9' } ] } } } }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        320
      ],
      "id": "4c39efbd-b6d2-409e-8bb8-420b3148ee5b",
      "name": "Inject: Bad Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_K8S_DEVIL_BEARER",
          "name": "K8s Devil Bearer"
        }
      }
    }
  ],
  "connections": {
    "Devil Webhook": {
      "main": [
        [
          {
            "node": "Which Fault?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Fault?": {
      "main": [
        [
          {
            "node": "Inject: Truncate DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject: Scale DB to 0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject: Crash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject: Bad Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Fault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "templateId": "da-devil-fault-injector"
  }
}
