chart/workflows/devilangel-angel.json
{
  "name": "Angel — DA Fault Healer",
  "nodes": [
    {
      "parameters": {
        "content": "## Angel Fault Healer\n\nPolls each tenant's `/db-ping` every 15s during an active match and **diagnoses by symptom** (`fault_signature`, derived in Prep Action):\n\n- **DB:CorruptedTable:ZeroNotes** (Tier B — green-but-dead): notes table truncated, pod still Running, Argo is blind. Angel restarts mini-api (reseeds DB on startup), waits, verifies → `healed_by=angel-action`.\n- **DB:Unreachable:*** (Tier C — control group): mini-db Deployment scaled to 0, i.e. real manifest drift Argo owns. Angel **stands down**, waits ~30s for selfHeal, verifies recovery → `healed_by=gitops`. If Argo fails to heal in the window → `escalated`.\n\nThe split is the whole point: the Angel only acts on what GitOps **cannot** see, and credits GitOps for what it reverts. (Earlier versions polled Argo's sync status to catch it mid-heal, but selfHeal reverts in ~5s — faster than the 15s poll — so the Angel raced Argo and mis-credited itself. Routing on the symptom removes the race.)\n\n**To arm:** `POST /set-active {\"active\": true}` with reset-secret header",
        "height": 260,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ],
      "id": "setup-notes",
      "name": "Setup Notes"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "schedule",
      "name": "Poll Every 15s"
    },
    {
      "parameters": {
        "url": "http://referee.da-referee.svc.cluster.local/is-active",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "check-active",
      "name": "Is Match Active?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gate-cond",
              "leftValue": "={{ $json.active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "gate",
      "name": "Gate: Active?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "id": "paused",
      "name": "Match Paused"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [\n  { json: { tenant: 'acme',   ns: 'da-tenant-acme',   vaultRole: 'da-tenant-acme'   } },\n  { json: { tenant: 'globex', ns: 'da-tenant-globex', vaultRole: 'da-tenant-globex' } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "set-tenants",
      "name": "Set Tenants"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "loop",
      "name": "Loop Tenants"
    },
    {
      "parameters": {
        "url": "={{ 'http://mini-api.' + $json.ns + '.svc.cluster.local/db-ping' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "check-secret",
      "name": "Check DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fault-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ],
      "id": "fault-check",
      "name": "Fault Detected?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ],
      "id": "no-fault",
      "name": "No Fault"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// n8n task runner disallows require('crypto'); build a v4 uuid inline\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => { const r = Math.random() * 16 | 0; return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16); });\nconst t = $('Loop Tenants').item.json;\n// Derive the fault signature from the db-ping detail so Tier B (zero notes)\n// and Tier C (db unreachable / scaled to zero) are labelled distinctly.\nconst detail = String((($('Check DB').item.json) || {}).detail || '');\nconst fault_signature = /note/i.test(detail)\n  ? 'DB:CorruptedTable:ZeroNotes'\n  : 'DB:Unreachable:' + (detail || 'unknown');\nreturn [{ json: {\n  action_id:   uuid,\n  ts_detected: new Date().toISOString(),\n  target:      'mini-api.' + t.ns,\n  tenant:      t.tenant,\n  ns:          t.ns,\n  vaultRole:   t.vaultRole,\n  fault_signature\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "id": "prep-action",
      "name": "Prep Action"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: new Date().toISOString(), target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'gitops', attempts: 0, tenant: $('Prep Action').item.json.tenant } }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -160
      ],
      "id": "log-gitops",
      "name": "Log GitOps Heal"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ 'https://kubernetes.default.svc.cluster.local:443/api/v1/namespaces/' + $('Prep Action').item.json.ns + '/pods?labelSelector=' + encodeURIComponent('app.kubernetes.io/name=mini-api') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        160
      ],
      "id": "vault-rebind",
      "name": "Restart Mini-API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_K8S_ANGEL_BEARER",
          "name": "K8s Angel Bearer"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        160
      ],
      "id": "eso-force-sync",
      "name": "Wait Delete (5s)",
      "webhookId": "da-angel-wait-delete-5s",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_K8S_ANGEL_BEARER",
          "name": "K8s Angel Bearer"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        160
      ],
      "id": "wait-eso",
      "name": "Wait Restart (20s)",
      "webhookId": "da-angel-wait-restart-20s"
    },
    {
      "parameters": {
        "url": "={{ 'http://mini-api.' + $('Prep Action').item.json.ns + '.svc.cluster.local/db-ping' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        160
      ],
      "id": "verify",
      "name": "Verify DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "healed-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        160
      ],
      "id": "healed-check",
      "name": "Healed?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: new Date().toISOString(), target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'angel-action', attempts: 1, tenant: $('Prep Action').item.json.tenant } }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        60
      ],
      "id": "log-angel",
      "name": "Log Angel Heal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: null, target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'escalated', attempts: 1, tenant: $('Prep Action').item.json.tenant } }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        280
      ],
      "id": "log-escalate",
      "name": "Log Escalated"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "id": "all-done",
      "name": "All Done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "infra-cond",
              "leftValue": "={{ $('Prep Action').item.json.fault_signature }}",
              "rightValue": "DB:Unreachable",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        0
      ],
      "id": "650c36ef-e76e-4718-b973-e0da9923e5eb",
      "name": "Infra Fault?"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1980,
        -180
      ],
      "id": "72c13e47-1f0a-4631-925d-e7e5fc621756",
      "name": "Wait for GitOps",
      "webhookId": "a8024bd0-c139-4c81-aa66-d28b7d35743d"
    },
    {
      "parameters": {
        "url": "={{ 'http://mini-api.' + $('Prep Action').item.json.ns + '.svc.cluster.local/db-ping' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -180
      ],
      "id": "b8e04a7e-1748-4d8b-ae51-af14f98be1f9",
      "name": "Verify GitOps"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gitops-healed-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        -180
      ],
      "id": "089a3b81-6044-4bfe-b274-070118405509",
      "name": "GitOps Healed?"
    }
  ],
  "connections": {
    "Poll Every 15s": {
      "main": [
        [
          {
            "node": "Is Match Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Match Active?": {
      "main": [
        [
          {
            "node": "Gate: Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Active?": {
      "main": [
        [
          {
            "node": "Set Tenants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match Paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tenants": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tenants": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB": {
      "main": [
        [
          {
            "node": "Fault Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fault Detected?": {
      "main": [
        [
          {
            "node": "Prep Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Fault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Fault": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log GitOps Heal": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restart Mini-API": {
      "main": [
        [
          {
            "node": "Wait Delete (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Delete (5s)": {
      "main": [
        [
          {
            "node": "Wait Restart (20s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Restart (20s)": {
      "main": [
        [
          {
            "node": "Verify DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify DB": {
      "main": [
        [
          {
            "node": "Healed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healed?": {
      "main": [
        [
          {
            "node": "Log Angel Heal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Angel Heal": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalated": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Action": {
      "main": [
        [
          {
            "node": "Infra Fault?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infra Fault?": {
      "main": [
        [
          {
            "node": "Wait for GitOps",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restart Mini-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for GitOps": {
      "main": [
        [
          {
            "node": "Verify GitOps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify GitOps": {
      "main": [
        [
          {
            "node": "GitOps Healed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitOps Healed?": {
      "main": [
        [
          {
            "node": "Log GitOps Heal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 300
  },
  "pinData": {},
  "meta": {
    "templateId": "da-angel-fault-healer"
  }
}
