chart/workflows/devilangel-angel.json
{
  "name": "Angel — DA Fault Healer",
  "nodes": [
    {
      "parameters": {
        "content": "## Angel Fault Healer\n\nRuns only when the Referee reports `angel_enabled` (false during the **baseline** ablation arm, so the harness can measure kubelet + Argo without the Angel). Polls each tenant's `/db-ping` and acts only where it is actually needed:\n\n- **Can't reach the app** (connection error — e.g. a crash) → stand down. That's the kubelet's lane (liveness restart).\n- **DB:Unreachable** (mini-db scaled to 0 / bad image) → stand down. Manifest drift Argo selfHeal owns.\n- **DB:CorruptedTable:ZeroNotes** (truncate — green-but-dead, no drift, not restart-healable) → **POST /admin/restore** (restore from backup). Verify → `agent-action`. If restore fails / no backup → `escalated` (unrecoverable).\n\nThe Angel only acts on what neither the kubelet nor Argo can see. The Referee attributes each round's resolving layer by ablation, not by this label.\n\n**To arm:** the Referee sets angel_enabled via /start-match (arm=agent).",
        "height": 260,
        "width": 1144,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -304
      ],
      "id": "setup-notes",
      "name": "Setup Notes"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "schedule",
      "name": "Poll Every 15s"
    },
    {
      "parameters": {
        "url": "http://referee.da-referee.svc.cluster.local/is-active",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "check-active",
      "name": "Is Match Active?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "active-cond",
              "leftValue": "={{ $json.angel_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "gate",
      "name": "Gate: Active?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "paused",
      "name": "Match Paused"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { tenant: 'acme',   ns: 'da-tenant-acme',   vaultRole: 'da-tenant-acme'   } },\n  { json: { tenant: 'globex', ns: 'da-tenant-globex', vaultRole: 'da-tenant-globex' } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "set-tenants",
      "name": "Set Tenants"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "loop",
      "name": "Loop Tenants"
    },
    {
      "parameters": {
        "url": "={{ 'http://mini-api.' + $json.ns + '.svc.cluster.local/db-ping' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ],
      "id": "check-secret",
      "name": "Check DB",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fault-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "fail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        0
      ],
      "id": "fault-check",
      "name": "Fault Detected?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1328,
        208
      ],
      "id": "no-fault",
      "name": "No Fault"
    },
    {
      "parameters": {
        "jsCode": "// n8n task runner disallows require('crypto'); build a v4 uuid inline\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => { const r = Math.random() * 16 | 0; return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16); });\nconst t = $('Loop Tenants').item.json;\n// Derive the fault signature from the db-ping detail so Tier B (zero notes)\n// and Tier C (db unreachable / scaled to zero) are labelled distinctly.\nconst detail = String((($('Check DB').item.json) || {}).detail || '');\nconst fault_signature = /note/i.test(detail)\n  ? 'DB:CorruptedTable:ZeroNotes'\n  : 'DB:Unreachable:' + (detail || 'unknown');\nreturn [{ json: {\n  action_id:   uuid,\n  ts_detected: new Date().toISOString(),\n  target:      'mini-api.' + t.ns,\n  tenant:      t.tenant,\n  ns:          t.ns,\n  vaultRole:   t.vaultRole,\n  fault_signature\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ],
      "id": "prep-action",
      "name": "Prep Action"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://mini-api.' + $('Prep Action').item.json.ns + '.svc.cluster.local/admin/restore' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": false
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        160
      ],
      "id": "vault-rebind",
      "name": "Restore from Backup"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2432,
        160
      ],
      "id": "eso-force-sync",
      "name": "Settle (5s)",
      "webhookId": "da-angel-wait-delete-5s"
    },
    {
      "parameters": {
        "url": "={{ 'http://mini-api.' + $('Prep Action').item.json.ns + '.svc.cluster.local/db-ping' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        160
      ],
      "id": "verify",
      "name": "Verify DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "healed-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3088,
        160
      ],
      "id": "healed-check",
      "name": "Healed?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: new Date().toISOString(), target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'agent-action', attempts: 1, tenant: $('Prep Action').item.json.tenant } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        64
      ],
      "id": "log-angel",
      "name": "Log Angel Heal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: null, target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'escalated', attempts: 1, tenant: $('Prep Action').item.json.tenant } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        288
      ],
      "id": "log-escalate",
      "name": "Log Escalated"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        208
      ],
      "id": "all-done",
      "name": "All Done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "infra-cond",
              "leftValue": "={{ $('Prep Action').item.json.fault_signature }}",
              "rightValue": "DB:Unreachable",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        0
      ],
      "id": "650c36ef-e76e-4718-b973-e0da9923e5eb",
      "name": "Infra Fault?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://referee.da-referee.svc.cluster.local/angel-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { action_id: $('Prep Action').item.json.action_id, ts_detected: $('Prep Action').item.json.ts_detected, ts_healed: new Date().toISOString(), target: $('Prep Action').item.json.target, fault_signature: $('Prep Action').item.json.fault_signature, healed_by: 'stood-down', attempts: 0, tenant: $('Prep Action').item.json.tenant } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        -180
      ],
      "id": "684d1a49-2dd6-4bf6-90e5-89679c896935",
      "name": "Log Stood Down"
    }
  ],
  "connections": {
    "Poll Every 15s": {
      "main": [
        [
          {
            "node": "Is Match Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Match Active?": {
      "main": [
        [
          {
            "node": "Gate: Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Active?": {
      "main": [
        [
          {
            "node": "Set Tenants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Match Paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tenants": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tenants": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB": {
      "main": [
        [
          {
            "node": "Fault Detected?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Fault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fault Detected?": {
      "main": [
        [
          {
            "node": "Prep Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Fault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Fault": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore from Backup": {
      "main": [
        [
          {
            "node": "Settle (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify DB": {
      "main": [
        [
          {
            "node": "Healed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healed?": {
      "main": [
        [
          {
            "node": "Log Angel Heal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Angel Heal": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalated": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Action": {
      "main": [
        [
          {
            "node": "Infra Fault?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infra Fault?": {
      "main": [
        [
          {
            "node": "Log Stood Down",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restore from Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settle (5s)": {
      "main": [
        [
          {
            "node": "Verify DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Stood Down": {
      "main": [
        [
          {
            "node": "Loop Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 300,
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "templateId": "da-angel-fault-healer"
  }
}
